            $working-color: #009933;
            $not-working-color: #cc0000;
            $sidebarWidth: 200px;
            body {
                background-color: rgba(0, 0, 0, 0.045) !important;
                font-family: 'Roboto', sans-serif;
                font-size: 0.95rem;
            }
            
            h1,
            h2,
            h3,
            h4,
            h5 {
                font-family: 'Roboto Condensed', sans-serif;
            }
            
            nav {
                border-top: 4px solid #007bff; //border-bottom: 1px solid #ccc;
                box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
            }
            
            #page {
                margin-top: 60px;
            }
            
            .custom-bg {
                background-color: #277cbf !important;
                border-color: #34ace1 !important;
                color: #ffffff !important;
            }
            
            .breadcrumb {
                background-color: #eee;
                border: 1px solid #ddd;
            }
            
            #service-status-table {
                width: 100%;
                height: auto;
                position: relative;
                border-collapse: collapse !important;
                border: 1px solid #ddd;
                border-top: 0;
                tbody tr {
                    position: relative;
                    td {
                        padding: .5rem;
                    }
                }
                .selected-row {
                    background-color: rgba(0, 0, 0, .1) !important;
                }
            }
            
            .status-code-description {
                color: #666;
                a {
                    color: #666;
                    &:hover {
                        color: #333;
                    }
                }
            }

            .popover{
                -webkit-box-shadow: 1px 1px 41px -8px rgba(0,0,0,0.75);
                -moz-box-shadow: 1px 1px 41px -8px rgba(0,0,0,0.75);
                box-shadow: 1px 1px 41px -8px rgba(0,0,0,0.75);
                border-color: #17a2b8;
                .popover-header{
                    background-color: #17a2b8;
                    color: #fff;
                }
            }
            
            .working {
                /*background-color: rgba($working-color, .2);*/
            }
            
            .not-working {
                background-color: rgba($not-working-color, .2);
            }
            
            .working-text {
                color: $working-color;
                font-weight: bold;
            }
            
            .not-working-text {
                color: $not-working-color;
                font-weight: bold
            }
            
            .overview-content {
                text-align: left;
                font-size: 1.75em;
                background-color: #f2f2f2;
                font-weight: normal !important;
                position: relative;
                overflow: hidden;
                z-index: 10 !important;
                .overwiev-counter {
                    font-weight: bold;
                }
                small {
                    color: rgb(88, 88, 88);
                    font-size: 0.6em;
                }
                .fa {
                    position: absolute;
                    color: rgba(0, 0, 0, 0.1);
                    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.2);
                    font-size: 120px;
                    right: 15px;
                    z-index: 0 !important;
                }
            }
            
            #add-multiple-pages-results,
            #add-single-page-results {
                margin: 20px 0;
                display: none;
            }
            
            .sidebar {
                padding: 0px;
                width: $sidebarWidth;
                float: left;
                position: fixed;
                height: 100vh;
                left: 0;
                .list-group-item {
                    background-color: transparent;
                    color: #ddd;
                    border: none;
                    border-radius: 0 !important;
                    &.active {
                        z-index: 2;
                        color: #fff !important;
                        background-color: #007bff !important;
                    }
                    &:hover {
                        color: #007bff;
                    }
                }
            }
            
            .content {
                padding: 15px;
                margin-left: $sidebarWidth;
                width: auto; //max-width: 1200px;
            }
            
            #bottom-table-toolbar {
                margin: 0px;
                margin-top: 10px;
                padding: 10px 0;
                background-color: rgba(0, 0, 0, .03);
                border-top: 1px solid rgba(0, 0, 0, .125);
                #selected-items-action-form {
                    select {
                        display: inline-block;
                        max-width: 300px;
                        margin-left: 10px;
                    }
                }
            }
            
            footer {
                //box-shadow: 0 -1px 5px rgba(0, 0, 0, .25);
                //color: #f2f2f2;
                position: relative;
            }
            
            #pages-count-wrapper {
                background-color: rgba(0, 138, 230, 0.2);
            }
            
            #working-count-wrapper {
                background-color: rgba(0, 207, 28, 0.2);
            }
            
            #not-working-count-wrapper {
                background-color: rgba(236, 0, 0, 0.2);
            }
            
            #login-panel,
            #register-panel {
                max-width: 600px;
                margin: 0 auto;
            }
            
            #averageResponseTimeIndicator {
                background-color: rgba(0, 138, 230, 0.2);
                border: 1px solid rgba(0, 138, 230, 0.5);
            }
            
            #workFromIndicator {
                background-color: rgba(0, 207, 28, 0.2);
                border: 1px solid rgba(0, 207, 28, 0.2);
            }
            
            #notWorkFromIndicator {
                background-color: rgba(236, 0, 0, 0.2);
                border: 1px solid rgba(236, 0, 0, 0.2);
            }
            
            .statsOverview {
                padding: 20px 10px;
                border-radius: 5px;
                span {
                    font-size: 1.5rem;
                }
            }
            
            #select-period-wrapper {}
            
            .badge {
                text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
            }
            
            .customCard {
                border-top-left-radius: 0;
                border-top-right-radius: 0;
                border-top: 3px solid #007bff;
            }
            
            #hide-sidebar-btn {
                position: fixed;
                bottom: 20px;
                left: 10px;
                z-index: 100;
            }
            
            #mobile-nav {
                visibility: hidden;
            }
            
            .nav-link.active {
                border-top: 3px solid #007bff !important;
                border-radius: 0;
            }
            
            .serviceStatusIndicator {
                width: 15px;
                height: 15px;
                border: 1px solid green;
                background-color: #009933;
                border-radius: 50%;
                display: inline-block;
                margin-right: 10px;
            }
            
            @media(max-width: 768px) {
                .overview .col-sm-4 {
                    padding-top: 10px;
                    border-right: 0;
                }
                .sidebar {
                    display: none;
                }
                .content {
                    padding: 10px;
                    margin-left: 0px;
                    width: 100%;
                }
                #mobile-nav {
                    //display: block;
                }
            }