$default-color: #007bff;
$working-color: lighten(#009933, 5%);
$not-working-color: #cc0000;

@mixin linear-gradient($direction, $color-stops...) {
  background: nth(nth($color-stops, 1), 1);
  background: -webkit-linear-gradient(legacy-direction($direction), $color-stops);
  background: linear-gradient($direction, $color-stops);
}

body {
  background-color: #eee !important;
  font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Roboto Condensed', sans-serif;
}

nav {
  z-index: 1100 !important;
  border-bottom: 1px solid #ccc;
}

.bg-dark {
  background-color: #444 !important;
}

.nav-tabs {
  a.active {
    border-top: 3px solid $default-color !important;
  }
}

:not(output):-moz-ui-invalid:not(:focus) {
  box-shadow: none;
}

:not(output):-moz-ui-invalid:-moz-focusring:not(:focus) {
  box-shadow: none;
}

.custom-bg {
  background-color: #277cbf !important;
  border-color: #34ace1 !important;
  color: #ffffff !important;
}

.breadcrumb {
  background-color: #eee;
  border: 1px solid #ddd;
}

.status-code-description {
  color: #666;
  font-style: italic;

  a {
    color: #666;

    &:hover {
      color: #333;
    }
  }
}

.popover {
  -webkit-box-shadow: 1px 1px 41px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 1px 41px -8px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 1px 41px -8px rgba(0, 0, 0, 0.75);
  border-color: #17a2b8;

  .popover-header {
    background-color: #17a2b8;
    color: #fff;
  }
}

.card {
  box-shadow: 0px 1px 4px rgba(0, 0, 0, .2);
}

.statusToolTip {
  background-color: rgba($default-color, .7);
  border-radius: 50%;
  display: inline-block;
  width: 16px;
  height: 16px;
  line-height: 16px;
  text-align: center;
  color: #fff;
  margin-left: 5px;

  &:hover {
    cursor: pointer;
    background-color: $default-color;
  }
}

.working {
  /*background-color: rgba($working-color, .2);*/
}

.not-working {
  .see-site {
    color: red;
  }
}

.working-text {
  color: $working-color;
  font-weight: bold;
}

.not-working-text {
  color: $not-working-color;
  font-weight: bold
}

#add-multiple-pages-results,
#add-single-page-results {
  margin: 20px 0;
  display: none;
}

#search-site {
  font-family: 'FontAwesome', 'Roboto' !important;
}

/* sidebar */
.sidebar {
  width: 200px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 56px;

  .list-group {
    .list-group-item {
      background-color: transparent !important;
      color: #ddd;
      border: none;
      border-radius: 0 !important;

      &.active {
        z-index: 2;
        color: #fff !important;
        background-color: #666 !important;
        border-left: 5px solid $default-color;
      }

      &:hover {
        color: #007bff;
      }
    }
  }
}

.mainContainer {
  margin-top: 56px;
}

#bottom-table-toolbar {
  margin: 0px;
  padding: 10px 0;
  background-color: rgba(0, 0, 0, .03);
  border: 1px solid rgba(0, 0, 0, .075);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}

select.styled-select {
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url('http://i62.tinypic.com/15xvbd5.png') no-repeat 96% 0;
  background-color: white;
  line-height: inherit;
  height: 31px !important;
  padding: 5px;
  width: 250px !important;
}

footer {
  margin-top: 10px;
  //box-shadow: 0 -1px 5px rgba(0, 0, 0, .25);
  //color: #f2f2f2;
  position: relative;
}

/* ********************** */
/* ***** overview ******* */
/* ********************** */
.overview-content {
  text-align: left;
  position: relative;
  border-radius: 0px;

  .overview-counter {
    font-size: 1.75em;
    font-weight: normal;
    font-weight: 300;
    color: #333;
    line-height: 1.75em !important;
  }

  p {
    margin-top: 0px;
    color: #333;
    margin-bottom: 0px;
    font-weight: 300;
    font-size: 1.3rem;
  }

  .fa {
    position: absolute;
    color: #fff;
    font-size: 38px;
    top: -10px;
    border-radius: 2px;
    padding: 8px;
    right: 10px;
    z-index: 0 !important;
  }
}

#pages-counter {
  background-color: #ffffff;

  .overview-counter {
    color: $default-color;
  }

  .fa {
    @include linear-gradient(to top, $default-color, lighten($default-color, 20%));
  }
}

#working-counter {
  background-color: #ffffff;

  .overview-counter {
    color: $working-color;
  }

  .fa {
    @include linear-gradient(to top, $working-color, lighten($working-color, 5%));
  }
}

#not-working-counter {
  background-color: #ffffff;

  //animation: pulse 2s infinite;
  .overview-counter {
    color: $not-working-color;
  }

  .fa {
    @include linear-gradient(to top, $not-working-color, lighten($not-working-color, 20%));
  }
}

#login-panel,
#register-panel {
  max-width: 600px;
  margin: 0 auto;
}

.badge {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
}

.customCard {
  .card-header {
    font-size: 1.2rem !important;
    color: #333;
    font-weight: 300;
    padding: 0.5rem 1.25rem !important;
  }
}

.page-title {
  font-weight: 300;
  color: #333;
}

#overview-table {
  border: 1px solid #ddd;
  $overviewResponseTimeColor: #34ace1;

  tr.overview-header {
    background-color: $overviewResponseTimeColor;
    color: #fff;
    font-weight: bold;
  }
}

.loading-msg {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .4);
  z-index: 100;
  color: #333 !important;

  >div {
    position: absolute;
    max-width: 600px;
    padding: 20px;
    top: 50%;
    left: 50%;
    background-color: #fff;
    border: 1px solid #f2f2f2;
    box-shadow: 0px 5px 50px rgba(0, 0, 0, .5);
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    text-align: center;
    font-weight: 300;

    >p {
      font-size: 1rem;
      margin-top: 30px;
    }

    i {
      color: $default-color;
    }
  }
}

@media(max-width: 768px) {
  .sidebar {
    height: 100%;
  }

  .overview .col-sm-4 {
    padding-top: 10px;
    border-right: 0;
  }
}

#status-table-wrapper {
  position: relative;
  max-height: 550px;
  overflow: auto;

  table {
    border: 1px solid #ddd;
    width: 100%;
    margin-bottom: 0px;

    thead {
      background-color: #fff;
    }

    tbody {
      tr.selected-row {
        background-color: lighten(rgba($default-color, 0.25), 10%) !important;
      }
    }
  }
}
